<div class="overflow-hidden bg-blue-500/80 py-8 sm:py-8 mt-0 
  bg-cover bg-fixed bg-no-repeat"
  style="background-image:url('https://plus.unsplash.com/premium_photo-1661515284863-38da38b925a4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
>
  
     
    session content
    session content
    session content
    session content
    session content
    session content
    session content
    session content
    session content
    session content
    session content
    session content
    session content
  


      
</div>