<div class="h-80 w-full bg-white/50">
    <div class="flex flex-col justify-center 
                items-center h-full">
        <h2 class="text-3xl font-bold text-black mb-4">
                Experience the Parallax Effect
        </h2>
        <p class="text-lg text-black ml-4">
                Discover the mesmerizing world of parallax scrolling with
                Tailwind CSS.
                Create stunning visual effects and captivate your audience with
                immersive web experiences. Whether you're building a portfolio,
                showcasing products, or telling a story, parallax adds depth
                and intrigue to your website.
        </p>
    </div>
</div>